.banner {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4)), url('Bakmie Jawa.jfif');
    background-size: cover;
    background-position: center;
}
.btn-outline-secondary {
    color: white;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.icon-service {
    width: 90px;
    height: 90px;
    border: solid #fff 2px;
    border-radius: 50%;
    color: #ffff;
}
.background-service {
    height: auto;
    background-color: #416ff9;
}
